.button {
    flex: 1;
    border-color:rgb(44, 43, 43);
    border-width: 0.5px;
    background: #c9c9c9;
    color: rgb(44, 43, 43);
    font-size: 30px;
    outline: none;
    cursor: pointer;
}

.zero {
    padding: 0px 62.5px;
    align-items: end;
}

.orange-button {
    background: #e48800;
    color:white;
}

.grey-button {
    background: #9e9e9e;
    color: rgb(44, 43, 43);
}