.button {
    flex: 1;
    border-radius: 10%;
    margin: 2px;
    border: none;
    background: #171717;
    color: white;
    font-size: 45px;
    outline: none;
    cursor: pointer;
}

.zero {
    border-radius: 10%;
    align-items: end;
}

.orange-button {
    background: #e48800
}

.grey-button {
    background: #9e9e9e;
    color: black;
}