.screen {
    flex: 0.5 1;
    display: flex;
    flex-direction: column;
}

.screen-bottom,
.screen-top {
    text-align: right;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.screen-top {
    flex: 0.5;
    font-size: 30px;
    width: 90%;
    align-self: flex-end;
    background-color: black;
    border: none
}

.screen-bottom {
    flex: 1;
    font-size: 90px;
    width: 80%;
    align-self: flex-end;
}